<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
	<groups>
		<run>
		<include name="sanity"/>
		<include name="regression"/>
		</run>
	</groups>
	<listeners>
		<listener class-name="utilities.ExtentReportManager" />
	</listeners>


	<parameter name="browser" value="edge" />
	<parameter name="os" value="Windows" />
	<test thread-count="5" name="Test">

		<classes>
			<class name="testCase.TC001_UpcomingBikes" />
			<class name="testCase.TC002_PopularModels" />
			<class name="testCase.TC003_Login" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
